<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NYC Fresh | Your Account</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- My own stylesheet -->
    <link rel="stylesheet" href="style.css" type="text/css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <nav style="min-height: 80px">
      <div class="nav-wrapper green lighten-1">
        <a href="#" class="brand-logo"
          ><h4>
            NYC Fresh
          </h4></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="account.html">Your Account</a></li>
          <li><a href="vendor.html">Vendor of the Day</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="title">
        <h3>Your Account</h3>
      </div>
      <div class="picture">
        <img
          src="https://yt3.ggpht.com/a-/AAuE7mAeAdedc0e6n-INLn6wUmiKA9qDa7lXdnrqbw=s900-mo-c-c0xffffffff-rj-k-no"
          alt="Image of user account photo"
          width="150px"
        />
      </div>

      <div class="row">
        <div class="col s12 m6">
          <p>Emmanuel Amoh</p>
          <p>emmany@jpmc.hireme.com</p>
          <p>Joined on 01:09:20</p>
          <p>Current Visits: 23</p>
        </div>

        <div class="currentPerks">
          <h5>
            Current Perks
          </h5>
          <p>Body and Soul Baked Goods - 5% off next visit</p>
          <p>She Wolf Farms - Free dozen eggs</p>
          <p>Body and Soul Baked Goods - 50% off next purchase</p>
          <p>Divine Brine Pickled - $5 Pickle</p>
        </div>
      </div>
    </div>
  </body>
</html>
